/* ====== CUSTOM SELECT CHỌN CHƯƠNG TRÌNH KHÔNG MŨI TÊN ====== */
.select-program {
    margin-bottom: 20px;
}

.select-program select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

/* Hover và focus */
.select-program select:hover {
    border-color: #9c00e5;
}

.select-program select:focus {
    outline: none;
    border-color: #9c00e5;
    box-shadow: 0 0 5px rgba(156, 0, 229, 0.5);
}

