/* ====== TIÊU ĐỀ TRANG ====== */
.course-page h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    font-weight: 600;
}

/* ====== KHUNG 90% ====== */
.course-section {
    width: 90%;
    margin: 30px auto;
}

/* ====== 2 CARD / 1 HÀNG ====== */
.course-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* ====== CARD ====== */
.course-card {
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(109, 87, 87, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.22);
}

/* ====== ẢNH ====== */
.course-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

/* ====== NỘI DUNG ====== */
.course-content {
    padding: 18px 22px;
}

.course-content h3 {
    margin: 0 0 12px;
    color: #9c00e5;
    font-size: 22px;
    font-weight: 600;
}

.course-content p {
    line-height: 1.5;
    color: #444;
    font-size: 15px;
}

/* ====== 3 Ô THÔNG TIN ====== */
.course-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 42px;
    margin: auto;
}

.info-title {
    font-weight: 600;
    font-size: 14px;
    color: #9c00e5;
}

.info-value {
    font-size: 13px;
    color: #555;
    margin-top: 3px;
}

/* ====== RESPONSIVE MOBILE ====== */
@media (max-width: 768px) {
    .course-row {
        grid-template-columns: 1fr;
    }

    .course-info {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

/* ====== CLICK TOÀN BỘ CARD ====== */
.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
